### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history


.ipynb_checkpoints
__pycache__
.DS_Store


### Django ###
**/db.sqlite3
**/migrations/**
!**/migrations/__init__.py

